[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pymongo = "*"

[packages]
discord-py = "*"
gino = "*"
alembic = "*"
pint = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
